Flask==2.3.3
Flask-SQLAlchemy==3.0.5
Flask-Bcrypt==1.0.1
Flask-CORS==4.0.0
Flask-JWT-Extended==4.5.2
azure-identity==1.13.0
azure-keyvault-secrets==4.7.0
pyodbc==4.0.35
sqlalchemy==2.0.20
python-dotenv==1.0.0
gunicorn==21.2.0
